/*smallest*/
/* 
BG IMAGES
move these to FE / JS
*/
body{
	background-color:#fff;
	/*background: no-repeat center center fixed url('http://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Ash_Tree_-_geograph.org.uk_-_590710.jpg/220px-Ash_Tree_-_geograph.org.uk_-_590710.jpg');
	*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* debugging */
#devnote{
position:absolute;
top:0px;
left:1px;
background-color:yellow;
}
.disabled a, .disabled a:hover{
	opacity: .3;
	text-decoration:none;
}
.container.page{
	margin: 5px;
	padding: 5px;
}

.navbar.gallery{
	opacity: .9;
}

/* carousel */
/*
.container.gallery-carousel{
	width: 460px;
	background: #000000;
}

.carousel.hp{
	background: #999;
	height: 300px;
	overflow: hidden;
}
.carousel-inner {
	background: #FF0;
	height: inherit;
}
.carousel-inner>item, .carousel-inner>.active {
	height: inherit; 
}

.carousel-inner>.item>img.horizontal{
	display: block; 
	width: 100%;
	margin: auto;

} 

.carousel-inner>.item>img.vertical{
	display: block; 
	height: 100%;
	margin: auto;
} 
 
.carousel-indicators.thumb{
	border: 1px #000 solid; 
	width: 50%; 
	margin: 0 auto;
	left: 25%;
	bottom: 14%;
}

.carousel-indicators.thumb li img{
	width: 100%;
	margin: auto;
}

.carousel-indicators.thumb li{
	opacity: 1;
	width: 40px;
	height: 40px;
	text-indent: 0;
	overflow: hidden;
	border:1px #CCC solid;
}
.carousel-indicators.thumb li.active{
	border:1px #111 solid;
} */





.footer{
	width:100%;
	max-width: none;
	height:25px;
	background:#000;
	opacity: .9;
	position: fixed;
	bottom: 1px;
}

/* image browse nav */
.browse-nav{
	display: none;
	opacity: .9;
	position: fixed;
	bottom: 10px;
}

.browse-nav a.left{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.browse-nav a.right{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* 
BG IMAGES
move these to FE / JS
*/
@media (min-width: 580px) {
  body {
	/*background:  no-repeat center center fixed url('http://files.abovetopsecret.com/files/img/rq518f9998.jpg');
	*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  .hp-image{
	background: #FF0000;
	height: 100px;
	width 80%;
  }

/***** Carousel stuff 
	.carousel-inner {
		background: #FF0000;
	}
	.carousel-indicators.thumb li{
		width: 50px;
		height: 50px;
	}
	.container.gallery-carousel{
		width: 580px;
	}

	.carousel.hp{
		height: 500px;
	}
	
	.carousel-inner>.item>img.vertical{
		margin: auto;
	} ****/


}

@media (min-width: 800px) {
  body {
	/*background:  no-repeat center center fixed  url('http://www.stcatharines.ca/en/resources/tree.jpg');
	*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
    .hp-image{ 
	height: 100px;
	width 80%;
  }
  
/***** Carousel stuff  
	.carousel-inner {
		background: #ccccFF;
	}

	.carousel-indicators.thumb li{
		width: 70px;
		height: 70px;
	}
	.container.gallery-carousel{
		width: 580px;
	}
	.carousel.hp{
		height: 660px;
	}	
	.carousel-inner>.item>img.vertical{
		margin: auto;
	} ****/


}

@media (min-width: 1024px) {
  body {
	/*background: no-repeat center center fixed  url('http://erisaeverdeen.files.wordpress.com/2013/05/tree.jpg');
	*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
/***** Carousel stuff  
	.carousel-inner {
	}

	.carousel-indicators.thumb li{
		width: 120px;
		height: 120px;
	}
	.container.gallery-carousel{
		width: 780px;
	}
	.carousel.hp{
		height: 768px;
	}
	.carousel-inner>.item>img.vertical{
		margin: auto;
	} ****/

}