/*smallest*/
/* 
BG IMAGES
move these to FE / JS
*/
body{
	background-color:#fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* debugging */
#devnote{
	position:absolute;
	top:0px;
	left:1px;
	background-color:yellow;
}
h1{
	display:inline;
}
.disabled a, .disabled a:hover{
	opacity: .3;
	text-decoration:none;
}
.container.page{
	margin: 40px 0px 0px 0px;
	padding: 5px;
}

.navbar.gallery{
	opacity: .9;
}

/* carousel */
	#hpImgNavigation{
		position: fixed;
		bottom: 20px; /* corresponds with footer */
		padding:1px 0 0 0;
		margin: 0 0 0 -5px; /* because its in the page */
		height: 90px;
		overflow:hidden;
	 	width: 100%;
		background-color: #000;
	}
	 #prevBtn, #nextBtn{
	 	height: 100%;
	 	width: 10%;
	 }
	 #prevBtn a, #nextBtn a{
		background-color: #000;
		color: #EEE;
		display: block;
		height: 100%;
		width: 100%;
		font-size: 2em;
		padding: 13px 0 0 3px;
	 }
	/* thumbnails */
	ul.thumbnails{
		padding: 0;
		margin: 0;
	}
	ul.thumbnails li{
	 	display: block;
	 	float: left;
		height: 90px;
	 	overflow:hidden;
	}
	ul.thumbnails li.item{
		list-style: none;
		padding: 0;
		margin: 0;
		width: 20%;
	}
	ul.thumbnails li.item img.thumbimg{
		width: 100%;
	}
	ul.thumbnails li.item div.thumbnail{
		height: 87px;
		overflow: hidden;
	}
	ul.thumbnails li.item .thumbnail a{
		display: block;
		height: 50px;
		overflow: hidden;
	}
	ul.thumbnails li.item div.thumbnail p{
		font-size: .8em;
	}

	/* centerStage */
	#centerStage.disabled, ul.thumbnails li.item.disabled{
		display: none;
	}
	#centerStage{
		width: 100%;
		max-width: 580px;/* correspons with threshold */
		margin: 10px 0px 0px 0px;
		height: 300px;
	}
	#centerStage img{
		width: 100%;
		height: inherit;
		margin: 0px;
	}
 


.footer{
	width:100%;
	max-width: none;
	height:25px;
	background:#111;
	opacity: .9;
	position: fixed;
	bottom: 0px;
	margin: 0 0 0 -5px;
}
.small{
	font-size: .7em;
	color: #555;
	padding: 4px;
}

@media (min-width: 580px) {
  body {
	/*background:  no-repeat center center fixed url('http://files.abovetopsecret.com/files/img/rq518f9998.jpg');
	*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

/***** Carousel stuff overwritten *****/
/* carousel */
	#hpImgNavigation{
		 text-align: center;
		 width:100%;
	}
	#prevBtn, #nextBtn{ }
	#prevBtn a, #nextBtn a{ 	 }
	/* thumbnails */
	ul.thumbnails{ 
		display: inline-block;
		margin: 0 auto;
	}
	ul.thumbnails li{ 	 	}
	ul.thumbnails li.item{ 	}
	ul.thumbnails li.item img.thumbimg{ 	}
	ul.thumbnails li.item div.thumbnail{ 	}
	ul.thumbnails li.item .thumbnail a{ 	}
	ul.thumbnails li.item div.thumbnail p{ }


	/* centerStage */
	#centerStage.disabled, ul.thumbnails li.item.disabled{ 	}
	#centerStage{
		 margin: 0 auto;
	}
	#centerStage img{ 
		max-width: 800px;/* correspons with threshold */
	}
}

@media (min-width: 800px) {
  body {
	/*background:  no-repeat center center fixed  url('http://www.stcatharines.ca/en/resources/tree.jpg');
	*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
    .hp-image{ 
	height: 100px;
	width 80%;
  }
  /* carousel */
	#hpImgNavigation{
	background-color:#00FF00;
		 text-align: center;
		 width:100%;
	}
	#prevBtn, #nextBtn{ }
	#prevBtn a, #nextBtn a{ 	 }
	/* thumbnails */
	ul.thumbnails{ 
		display: inline-block;
		margin: 0 auto;
	}
	ul.thumbnails li{ 	 	}
	ul.thumbnails li.item{ 	}
	ul.thumbnails li.item img.thumbimg{ 	}
	ul.thumbnails li.item div.thumbnail{ 	}
	ul.thumbnails li.item .thumbnail a{ 	}
	ul.thumbnails li.item div.thumbnail p{ }


	/* centerStage */
	#centerStage.disabled, ul.thumbnails li.item.disabled{ 	}
	#centerStage{
		 margin: 0 auto;
	}
	#centerStage img{ 	}

}

@media (min-width: 1024px) {
  body {
	/*background: no-repeat center center fixed  url('http://erisaeverdeen.files.wordpress.com/2013/05/tree.jpg');
	*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

/* carousel */
	#hpImgNavigation{
		 background-color: #0000FF;
	}
	 #prevBtn, #nextBtn{
	 	 
	 }
	 #prevBtn a, #nextBtn a{
		 
	 }
	/* thumbnails */
	ul.thumbnails{
		 
	}
	ul.thumbnails li{
	 	 
	}
	ul.thumbnails li.item{
		 
	}
	ul.thumbnails li.item img.thumbimg{
		 
	}
	ul.thumbnails li.item div.thumbnail{
		 
	}
	ul.thumbnails li.item .thumbnail a{
		 
	}
	ul.thumbnails li.item div.thumbnail p{
		 
	}


	/* centerStage */
	#centerStage.disabled, ul.thumbnails li.item.disabled{
		 
	}
	#centerStage{
		 
	}
	#centerStage img{
		 
	}

}